.text {
    font-size: 20px;
    font-family: 'Georgia';
    font-weight: Bold;
    background: -webkit-linear-gradient(#e4cece, #e2a80a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: 'grid';
    border-top: 10px solid transparent;
  }

.title {
    font-size: 40px;
    background: -webkit-linear-gradient(#685608, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.navbar {
    outline: 5px solid #111;
    border-top: 1px solid #555;
    padding: 10px;
    background: #333;
}

.weatherwidget {
  background: rgba(205, 214, 219, 0.7);
  margin-top: 1rem;
  width: 20rem;
  height: 20rem;
}

.position-data {
  margin-left: 0.5rem;
}